///////////
// Fonts //
///////////
@font-face {
    font-family: "Consequences Italic";
    src: url("./static/Consequences Italic.ttf");
}

@font-face {
    font-family: "Consequences";
    src: url("./static/Consequences.ttf");
}

@font-face {
    font-family: "Captain-Canaveral";
    src: url("./static/captcanaveral.ttf");
}

//////////////////////////
// Top-Level / Defaults //
//////////////////////////
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Captain-Canaveral";
    color: navy;
    margin: 30px;
    overflow-x: hidden; // Some animations start elements off screen causing unnecessary scrollbar.
}
#app {
    display: inline-block;
}
#render-controller {
    font-size: 2.5em;
}

/////////
// App //
/////////
header {
    position: sticky;
    background-color: white;
    top: 0px;
    z-index: 1;
    font-family: 'Consequences Italic';
    display: inline-block;
    font-size: 6em;
    margin: 0 0 50px 0;
    border-bottom: 1px solid grey;

    #sirtet-title {
        color: orange
    }

    // Animated elements:
    #tetris-title, #sirtet-title > span, #title-colon {
        position: relative;
    }
    #title-colon {
        left: 100vw;
    }
    #tetris-title, #sirtet-title > span {
        opacity: 0;
    }
}
#main-menu {
    text-align: center;
    & > div {
        position: relative;
        opacity: 0;
    }
}
.bordered, canvas {
    border-image-source: url('./static/background.png');
    border-image-slice: 20;
    border-image-width: 20px;
    border-image-outset: 18px;
    border-image-repeat: repeat;

    border-style: inset;
}
#options {
    padding: 0 20px;
    text-align: center;
    label {
        display: block;
        height: 1em;
        position: relative;
        cursor: pointer;
        > * {
            vertical-align: top;
        }
    }
    span {
        position: absolute;
        left: 0;
    }
    input[type=text] {
        position: absolute;
        cursor: pointer;
        right: 0;
        font-size: 1em;
        width: 7.8em;
        font-family: 'Courier New', Courier, monospace;
        border: none;
        outline: none;
    }
}
#game {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-right: 50px;
    & > div:nth-child(1) {
        margin-right: 50px;
        display: inline-block;
        position: relative;
    }
    #countdown {
        font-family: Consequences;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -55%);
    }
    .right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 190px;
        div, canvas {
            position: relative;
        }
        canvas {
            left: 20px;
        }
    }
    #gameinfo-container {
        span {
            color: orange;
        }
    }
}
canvas {
    background-color: navy;
}

///////////////////////
// Button Glow Pulse //
///////////////////////
@mixin pulse-text {
    animation-duration: 0.6s;
    animation-name: glow-pulse;
    animation-direction: alternate;
}
.pulse-text-once {
    @include pulse-text;
    animation-iteration-count: 2;
}
.pulse-text {
    @include pulse-text;
    animation-iteration-count: infinite;
}
@keyframes glow-pulse {
    from {
        color: navy;
    }
    to {
        color: orange;
    }
}
